<html>

<head>
  <title>Ajax Table</title>
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
  <style>
    body {
      font-family: Tahoma;
    }
  </style>
</head>

<body>
  <div>
    <h1>Ajax Table</h1>
    <hr>
    <div id="table"></div>
  </div>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script>
    new gridjs.Grid({
      columns: [
        { id: 'name', name: 'Name' },
        {
          id: 'age', name: 'Age', formatter: (cell, row) => {
            if (cell > 30) {
              return gridjs.html('<div style="color:lightgreen; background-color:lightcoral">' + cell + '</div>');
            }
            else {
              return gridjs.html('<span style="color:lightcoral; background-color:lightgreen">' + cell + '</span>');
            }
          },
        },
        { id: 'address', name: 'Address', sort: false },
        { id: 'phone', name: 'Phone Number', sort: false },
        { id: 'email', name: 'Email' },
      ],
      style: {
        table: {
          border: '3px solid #ccc'
        },
        th: {
          'background-color': 'rgba(0, 0, 0, 0.1)',
          color: '#000',
          'border-bottom': '3px solid #ccc',
          'text-align': 'center',
          'padding': '5px'
        },
        td: {
          'text-align': 'center',
          'padding': '5px'
        },

      },
      server: {
        url: '/api/data',
        then: results => results.data,
      },
      search: {
        selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
      },
      sort: true,
      // pagination: true,
      pagination: {
        enabled: true,
        limit: 15,
        summary: true,
      },
    }).render(document.getElementById('table'));
  </script>
</body>

</html>